<div class="jumbotron">
  <div class="row">
    <div class="span3">
      <img alt="Logo" class="logo" src="/images/timbs.png">
    </div>

  <div class="span7">
    <h2>TS Inventory Management\Business Solution (TIMBS)</h2>

    <p>TIMBS is a solution for tracking deployment and stock of inventory for the Technology Services team at Greenleaf Hospitality group.</p>
    <p>This system was built off of the RIMS system found at their <a href="https://github.com/DamageStudios/rims">Github</a> page.</p>
  </div>

  </div>
</div>
